body {
    height: 98vw;
    background-image: url('https://st3.depositphotos.com/15802718/32365/i/450/depositphotos_323654270-stock-photo-watercolor-tropical-background-with-monstera.jpg');
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: center center;
}